<div id="coins">
  <%= render(
    CustomCheckboxListComponent.new(
      size: 4,
      comparitor: source.coin,
      field: :coin,
      model: source,
      classes: "coin-box")
      ) %>
</div>
