<div id="footer">
  <div class="nav">
    <%= link_to "The Crew", game_path(@game), class: "nav-item #{'active' if current_page? game_path(@game)}" %>
    <%- if @game.game_master === current_user %>
      <%- @game.player_characters.each do |char|%>
        <%= link_to char.nickname, game_player_character_path(@game, char), class: "nav-item #{'active' if current_page? game_player_character_path(@game, char)}" %>
      <% end %>
    <% else %>
      <% my_char = current_user.player_characters.find_by(game: @game) %>
      <%= link_to game_player_character_path(@game, my_char), class: "nav-item #{'active' if current_page?(game_player_character_path(@game, my_char))}" %>
    <% end %>
  </div>
</div>
