<div id="coins">
  <%= render(
    CustomCheckboxListComponent.new(
      size: 4,
      comparitor: player_character.coin,
      field: :coin,
      model: player_character,
      classes: "coin-box")
      ) %>
</div>
