<div id="stats">
  <label>Actions & Attributes </label>
  <div class="stats-container">
    <% PlayerCharacter::STATS.keys.each do |stat_category| %>
      <%= render 'player_characters/stat_block', player_character:, stat_category:  %>
    <% end %>
  </div>
</div>
