<div id="stash">
  <div class="stash-boxes">
    <%= render(
      CustomCheckboxListComponent.new(
        size: 40,
        model: player_character,
        field: :stash,
        classes: "stash-box"
      )
    ) %>
  </div>
</div>
