<div class="stat-block-container">
  <div class="upper">
    <% PlayerCharacter::STATS[stat_category].each do |stat| %>
      <div class="stat">
        <label><%=stat.to_s.titleize %></label>
        <div class="stat-number">
          <% stat_value = player_character.send(stat) %>
          <% 4.times do |i| %>
            <div class="stat-cell <%= stat_value >= i + 1 ? 'acquired' : ''%>" >
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="label-container">
    <label><%= stat_category.to_s.capitalize %></label>
    <div class="xp-row">
      <%- 6.times do |i| %>
        <% field = [stat_category.downcase, :_xp].map(&:to_s).join.to_sym %>
        <% checked = i + 1<= player_character.send(field) %>
        <% value = checked ? i :  i + 1 %>
        <%= render 'shared/input_box',
              field:,
              model: player_character,
              value:,
              checked:,
              classes: "xp"
            %>
      <% end %>
    </div>
  </div>
</div>
