<div id="stress" class="col-2">
  <%= render(
    CustomCheckboxListComponent.new(
      size: player_character.stress_boxes,
      model: player_character,
      comparitor: player_character.stress,
      field: :stress,
      classes: "xp"
    )
  ) %>
</div>
