$black: rgb(13 14 19);
$lightgray: rgb(229 229 229);
$darkgray: #2b2c31;
$white: rgb(255 255 255);
$orange: #e75b06;
$gray: #58595f;
$bluegray: #3c4665;
$red: #d9534f;
$green: #93c54b;
$blue: #29abe0;
