#dashboard {
  height: 100%;
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  @include for-desktop-up {
    flex-direction: row;
  }

  #main_view, #side_view {
    background-color: #FCF5E5;
    margin: 2px;
  }

  #main_view {
    background-image : url(http://api.thumbr.it/whitenoise-361x370.png?background=ffffffff&noise=5c5c5c&density=13&opacity=62);
    flex: 3
  }

  #side_view{
    flex: 1
  }
}
