#dashboard {
  height: 100%;
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  @include for-desktop-up {
    flex-direction: row;
  }

  #main_view,
  #side_view {
    margin: 2px;
  }

  #main_view {
    flex: 4;
  }

  #side_view {
    flex: 1;
  }
}
