@font-face {
  font-family: 'Kirsty';
  src: url('kirsty rg.otf');
}
@font-face {
  font-family: 'Kirsty Italic';
  src: url('kirsty rg it.otf');
}
@font-face {
  font-family: 'Kirsty Bold';
  src: url('kirsty bd.otf');
}
@font-face {
  font-family: 'Kirsty Bold Italic';
  src: url('kirsty bd it.otf');
}
