@font-face {
  font-family: "Squada One";
  src: url("SquadaOne-Regular.ttf");
}
@font-face {
  font-family: "Zilla Slab";
  src: url("ZillaSlab-Regular.ttf");
}
@font-face {
  font-family: "Zilla Slab Bold";
  src: url("ZillaSlab-Bold.ttf");
}
@font-face {
  font-family: "Zilla Slab Bold Italic";
  src: url("ZillaSlab-BoldItalic.ttf");
}
@font-face {
  font-family: "Zilla Slab Italic";
  src: url("ZillaSlab-Italic.ttf");
}
@font-face {
  font-family: "Zilla Slab Light";
  src: url("ZillaSlab-Light.ttf");
}
@font-face {
  font-family: "Zilla Slab Light Italic";
  src: url("ZillaSlab-LightItalic.ttf");
}
@font-face {
  font-family: "Zilla Slab Medium";
  src: url("ZillaSlab-Medium.ttf");
}
@font-face {
  font-family: "Zilla Slab Medium Italic";
  src: url("ZillaSlab-Medium Italic.ttf");
}
@font-face {
  font-family: "Zilla Slab Semi Bold";
  src: url("ZillaSlab-SemiBold.ttf");
}
@font-face {
  font-family: "Zilla Slab Semi Bold Italic";
  src: url("ZillaSlab-SemiBoldItalic.ttf");
}
