#footer {
  align-items: center;
  background-color: $lightgray;
  bottom: 0;
  color: rgb(43 44 49);
  display: flex;
  height: 40px;
  justify-content: space-between;
  padding: 0 10px;
  position: fixed;
  width: calc(100% - 10px);
  z-index: 40;

  .nav {
    align-items: center;
    cursor: pointer;
    display: flex;
    height: 40px;
    justify-content: flex-start;
    width: 50%;

    .nav-item {
      align-items: center;
      border-right: 1px solid rgb(43 44 49);
      cursor: pointer;
      display: flex;
      height: 100%;
      justify-content: center;
      margin: 10px 0;
      width: 100%;

      &.active {
        background-color: $black;
        color: $white;
      }
    }
  }

  p {
    margin: 0;
  }

  a,
  h2 {
    color: rgb(43 44 49);
    height: 100%;
    margin: 0;
    text-decoration: none;
  }

  .header-right {
    align-items: center;
    display: flex;
    justify-content: flex-end;

    button {
      margin-right: 15px;
    }
  }
}
