#games {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  .game {
    background: $black;
    border: 1px solid #000;
    border-radius: 20px;
    box-shadow: 4px 5px 17px 0 rgb(0 0 0 / 37%);
    color: #fff;
    height: 175px;
    margin: 10px;
    width: 250px;

    .game-content {
      background-color: #e5e5e5;
      color: #000;
      height: 50%;
    }
  }
}
