html, body {
  height: 100%;
}

body, h1, h2, h3, h4, h5, h6 {
  font-family: Zilla Slab,HelveticaNeue,Helvetica,Arial,sans-serif;
}

body {
  margin: 0px;
  background: #e5e5e5;
}

#header{
  height: 5%;
  max-height: 5%;
}
#main {
  height: 89%;
  max-height: 89%;
}
