html,
body {
  diplay: flex;
  max-width: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Zilla Slab, HelveticaNeue, Helvetica, Arial, sans-serif;
}

body {
  margin: 0px;
  background: #e5e5e5;
}

form {
  margin: 0px;
  padding: 0px;
}

#header {
  height: 30px;
}

#main {
  margin-top: 40px;
  margin-bottom: 40px;
}

#footer {
  height: 20px;
}
