html,
body,
#main {
  max-width: 100%;
  height: 100%;
  color: white;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "squada one", HelveticaNeue, Helvetica, Arial, sans-serif;
  margin: 0;
}

body {
  margin: 0px;
  background-color: black;
}

form {
  margin: 0px;
  padding: 0px;
}

#header {
  height: 30px;
}

#main {
  padding: 0;
  margin: 0;
}

#footer {
  height: 20px;
}

turbo-frame {
  display: flex;
  flex: 1;
  height: 100%;
  width: 100%;
}
