#header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  .header-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 30%;

    button {
      margin-left: 10px;
    }
  }
}
