#header {
  align-items: center;
  background-color: $black;
  color: $white;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  top: 0;
  width: calc(100% - 10px);

  p {
    margin: 0;
  }

  .logo {
    display: flex;
    justify-content: flex-start;
  }

  a,
  h2 {
    color: $white;
    margin: 0;
    text-decoration: none;
  }

  .header-right {
    align-items: center;
    display: flex;
    justify-content: flex-end;

    button {
      margin-right: 15px;
    }
  }
}
