@mixin for-desktop-up {
  @media (width >= 1200px) {
    @content;
  }
}

@mixin xp-row($label: "") {
  align-items: flex-end;
  display: flex;
  position: relative;

  &::before {
    border: 0;
    bottom: 3px;
    color: $white;
    content: $label;
    font-family: "squada one";
    font-size: 15px;
    position: relative;
    text-transform: uppercase;
  }
}
