.player-character {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;

  input,
  textarea,
  button {
    font-family: WalterTurncoat;
    font-size: 16px;
    overflow: hidden;
    resize: none;
  }

  select {
    background-color: #e5e5e5;
    border: 0;
    font-family: alegrya;
    min-width: 90px;
  }

  #details,
  #stats,
  #playbook {
    width: 100%;
  }

  #details {
    flex: 8;
  }

  #playbook {
    background-color: #d9d9d9;
    flex: 10;
    margin-right: 0;
  }

  #stats {
    flex: 7;
    margin-left: 0;
  }

  .playbook-row {
    display: flex;
    justify-content: space-between;
    width: 100%;

    label {
      font-weight: 800;
    }
  }



  .active {
    background-color: #f4c7c2;
  }

  .harm-container {
    flex: 5;

    .harm-row {
      display: flex;
      flex-direction: row;
      height: 60px;
      justify-content: space-evenly;

      div:first-child,
      div:last-child {
        align-items: center;
        background: #d9d9d9;
        border-bottom: 1px solid rgb(43 44 49);
        border-left: 1px solid rgb(43 44 49);
        display: flex;
        height: 59px;
        justify-content: center;
      }

      div:first-child {
        width: 30px;
      }

      div:last-child {
        border-right: 1px solid rgb(43 44 49);
        max-width: 60px;
        text-align: center;
        width: 60px;
      }

      textarea {
        align-items: center;
        border-bottom: 1px solid rgb(43 44 49);
        border-left: 1px solid rgb(43 44 49);
        height: 55px;
        text-align: center;
        width: 99%;
      }
    }
  }

  .armor-and-healing-container {
    flex: 2;

    .healing-container {
      align-items: center;
      display: flex;
      flex-direction: row;
      font-style: italic;
      text-align: center;

      .healing-clock {
        display: grid;
        grid-gap: 0;
        grid-row: auto auto;
        grid-template-columns: auto auto;
      }
    }

    .armor-container {
      display: flex;
      flex-direction: column;
      height: 119px;
      justify-content: space-between;

      .armor-row {
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding-bottom: 1.3px;
        text-align: center;
        width: 100%;

        div:first-child {
          padding-left: 5px;
        }
      }
    }
  }

  .contacts-and-items-row {
    display: flex;
    justify-content: space-between;

    .contacts-container {
      flex: 1;

      .contact-row {
        align-items: center;
        display: flex;
        justify-content: flex-start;

        label {
          font-size: 13px;
          margin: 0;
          padding-left: 5px;
        }

        .friend {
          background-color: #b8e1cc;
        }

        .rival {
          background-color: #f4c7c2;
        }
      }
    }
  }

  .playbook-items-container,
  .default-items-container {
    .item-column {
      width: 49%;
    }

    .items-container {
      display: flex;
    }

    .items-row {
      align-items: center;
      display: flex;
      padding-right: 5px;
      width: 100%;

      .items-boxes {
        display: flex;
      }

      label {
        font-size: 13px;
        padding-left: 5px;

        &.intrinsic {
          font-style: italic;
        }
      }
    }
  }

  .stress-and-harm-container {
    flex: 1;
    width: 100%;

    @include for-desktop-up {
    }
  }

  .descriptors-container {
    display: flex;
    flex: 1;
    flex-direction: column;

    .playbook-row {
      margin-top: 10px;
    }

    .playbook-row:last-child {
      margin-bottom: 10px;
    }

    textarea {
      background-color: #e5e5e5;
    }

    @include for-desktop-up {
    }
  }

  .stress-row {
    display: flex;
    justify-content: flex-start;
    width: 100%;

    .stress-container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      .stress-boxes {
        display: flex;
        flex-direction: row;
        height: 50px;

        .stress-box {
          border-bottom: 0;
          border-top: 0;
          height: 100%;
        }
      }
    }

    .trauma-container {
      width: 100%;
    }

    .trauma-container {
      .trauma-boxes {
        display: grid;
        grid-gap: 0;
        grid-row: auto auto;
        grid-template-columns: 1fr 1fr;

        form {
          padding: 0;
        }

        .trauma-box {
          background: $bg-lightgray;
          height: 25px;
          min-width: 100%;
          width: 100%;
        }
      }
    }
  }

  .playbook-info-container {
    align-items: center;
    display: flex;
    height: 90px;
    justify-content: space-between;

    .name {
      flex: 4;
      font-family: "squada one";
      font-size: 70px;
      padding-left: 10px;
      text-transform: uppercase;
    }

    .description {
      flex: 1;
      font-family: alegrya;
      font-weight: 800;
      padding-right: 10px;
    }
  }

  .special_abilities-container {
    display: flex;
    flex-direction: column;
    height: 450px;
    justify-content: space-between;
    padding-bottom: 10px;
    padding-top: 10px;

    .special_ability-row {
      align-items: center;
      display: flex;
      padding-left: 5px;
      padding-top: 5px;
      width: calc(100% - 5px);

      .description {
        font-size: 13px;
        padding-left: 5px;
        padding-right: 5px;

        span {
          font-size: 14px;
          font-weight: 800;
        }
      }
    }
  }

  .purse-container {
    align-content: center;
    display: flex;
    height: 90px;
    justify-content: space-between;
    position: relative;
    width: 100%;

    .coin-box,
    .stash-box {
      height: 21px;
      min-height: 21px;
      min-width: 21px;
      width: 21px;
    }

    .stash-container {
      display: flex;
      flex: 1;
      flex-direction: column;

      .stash-boxes {
        display: flex;
        flex-direction: row;
        padding-left: 40px;

        input {
          font-size: 15px;
        }

        form:last-child {
          input {
            background-color: #d9d9d9;
          }
        }
      }
    }

    .coin-container {
      display: flex;
      flex: 1;
      flex-direction: row;

      .coin-boxes {
        display: flex;
        flex-direction: column;
        padding-left: 40px;

        input {
          font-size: 15px;
        }
      }
    }

    label {
      position: absolute;
      top: 45%;
      transform: rotate(-90deg);
    }
  }

  .playbook_xp-container {
    margin-bottom: 5px;
  }

  .inline-xp-label {
    display: flex;

    .checkbox {
      height: 26px;
      width: 26px;
    }
  }

  .inline-select-label {
    display: flex;

    form {
      background: #b7b7b7;

      select {
        background: #b7b7b7;
        border: 0;
      }
    }
  }

  .xp-blocks {
    height: 465px;
  }

  .xp-block {
    .skill-row {
      display: flex;
      padding-left: 5px;

      form:first-child {
        input {
          background: #d9d9d9;
        }
      }

      label {
        font-size: 15px;
        padding-left: 2px;
        padding-top: 2px;
        text-transform: uppercase;
      }
    }
  }

  @include for-desktop-up {
    align-items: flex-start;
    flex-direction: row;
  }
}
