.col-1 {
  flex: 1;
}

.col-2 {
  flex: 2;
}

.col-3 {
  flex: 3;
}

.col-4 {
  flex: 4;
}

.order-1 {
  order: 1;
}

.desk-order-1 {
  @include for-desktop-up {
    order: 1;
  }
}

.order-2 {
  order: 2;
}

.desk-order-2 {
  @include for-desktop-up {
    order: 2;
  }
}
.order-3 {
  order: 3;
}

.desk-order-3 {
  @include for-desktop-up {
    order: 3;
  }
}
.order-4 {
  order: 4;
}

.desk-order-4 {
  @include for-desktop-up {
    order: 4;
  }
}

.info-cell {
  border: 2px solid $black;
  margin-bottom: 5px;
  width: calc(100% - 4px);

  h2 {
    align-items: center;
    background: $darkgray;
    color: $white;
    display: flex;
    font-size: 18px;
    height: 24px;
    justify-content: center;
    padding: 2px 0;
    text-align: center;
    text-transform: uppercase;

    &.inverted {
      background: $gray;
      border-bottom: 2px solid $black;
      color: $darkgray;
    }
  }

  h3 {
    align-items: center;
    background: $gray;
    color: $darkgray;
    display: flex;
    font-size: 16px;
    justify-content: flex-start;
    padding: 2px;
    text-align: center;
    text-transform: uppercase;
  }

  k h3 {
    font-family: "Zilla Slab";
    text-align: center;
    width: 100%;
  }

  p {
    font-family: "Zilla Slab";
    margin: 10px;
    text-align: left;
  }

  span {
    border-bottom: 2px solid $black;
    border-top: 0;
    font-family: "Zilla Slab";
    font-size: 20px;
    padding: 2px 5px;
    position: relative;
    text-transform: capitalize;
    top: 0;
    width: 100%;
  }
}

.upper {
  align-items: end;
  display: flex;
  flex: 4;
  height: 100%;
  width: 100%;
}

.lower {
  align-items: end;
  flex: 1;
  height: 100%;
  width: 100%;
}

#items {
  margin: 2px;

  span {
    width: 100%;
    display: block;
    padding: 0;
    text-align: center;
    font-style: italic;
    border: 0;
    flex: 1;
    font-size: inherit;
    flex-shrink: 1;
    flex-grow: 1;
  }
  span + span {
    margin-bottom: 2px;
  }

  .playbook {
    background-color: $gray;
  }

  .items-row {
    display: flex;
    margin-bottom: 3px;
  }

  .items-boxes {
    display: flex;
  }

  .items-boxes:hover {
    .item-box {
      background-color: lighten($red, 20%);
      flex: 1;

      &:disabled {
        background-color: $darkgray;
      }
    }
  }

  .item-box {
    border: 2px solid $black;
    background-color: $gray;
    flex: 1;
    height: 20px;
    width: 20px;

    &:disabled {
      background-color: $darkgray;
    }

    &:checked {
      background-color: $red;
    }
  }

  .custom-checkbox-container + .custom-checkbox-container {
    .item-box {
      margin-left: 5px;

      &::before {
        background-color: $black;
        content: "";
        display: block;
        height: 2px;
        left: -12px;
        position: relative;
        width: 6px;
      }
    }
  }

  label {
    flex: 1;
    font-family: "Zilla Slab";
    padding-left: 5px;
  }

  label.intrinsic {
    font-style: italic;
  }
}

#contacts {
  display: flex;

  div:first-child {
    margin-right: 3px;
  }

  #friends,
  #rivals {
    flex: 1;
  }

  .contact {
    text-align: center;

    .contact-name {
      font-family: "squada one";
      padding: 0 5px;
    }

    .contact-job {
      font-family: "Zilla Slab";
      padding: 5px;
    }
  }
}

#coins {
  align-items: center;
  display: flex;
  justify-content: space-around;
  min-height: 38px;
  padding-top: 2px;

  .coin-box {
    border-radius: 15px;
    border: 2px solid $black;
    background-color: $gray;
    height: 20px;
    width: 20px;

    &:checked {
      background-color: $red;
    }
  }
}

#special-abilities {
  .info-cell {
    h2 {
      display: flex;
      justify-content: space-between;
      padding-left: 20px;
      width: calc(100% - 20px);
    }
  }

  .info-cell:first-child {
    margin-bottom: 10px;

    h2 {
      align-items: center;
      display: flex;
      justify-content: space-between;
      text-align: center;
    }

    .xp-row {
      margin-left: 25%;

      &::before {
        content: "playbook xp";
      }

      .xp {
        height: 30px;
      }
    }
  }

  .info-cell.inverted {
    h2 {
      border-bottom: 0;
      justify-content: center;
      padding-left: 0;
      width: 100%;
    }
  }

  .ability-boxes {
    display: flex;
    justify-content: space-around;
  }

  .ability-box {
    background-color: $gray;
    border: 2px solid $black;
    height: 25px;
    margin: 2px;
    width: 25px;

    &:checked {
      background-color: $red;
    }

    &:hover {
      background-color: lighten($red, 20%);
    }
  }

  .inactive {
    display: flex;
    flex-direction: column;

    .info-cell {
      margin-bottom: 10px;

      @include for-desktop-up {
        width: calc(50% - 5px);
      }

      h2 {
        justify-content: space-between;
        padding-left: 5px;
        width: calc(100% - 5px);
      }

      p {
        font-size: 13px;
      }
    }

    @include for-desktop-up {
      flex-wrap: wrap;
      max-height: 500px;
    }
  }
}

#stash {
  display: flex;
  flex: 1;
  justify-content: space-around;
  padding-top: 4px;

  .stash-boxes {
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 5px;

    form {
      .stash-box {
        border-radius: 15px;
        margin-top: 2px;
        position: relative;

        &::after {
          align-items: center;
          color: $darkgray;
          content: attr(data);
          display: flex;
          font-size: 12px;
          height: 100%;
          justify-content: center;
          position: absolute;
          width: 100%;
        }

        &:checked {
          background-color: $red;

          &::after {
            color: $white;
          }
        }
      }
    }

    form:last-child {
      .stash-box {
        background-color: $darkgray;

        &::after {
          color: $white;
        }

        &:checked {
          background-color: darken($red, 20%);
        }
      }
    }
  }
}

#armor {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;

  @include for-desktop-up {
    flex-direction: column;
    margin-top: 0px;
    margin-bottom: 10px;
  }

  label {
    text-align: center;
    text-transform: uppercase;
  }

  .armor {
    border: 2px solid $white;
    border-radius: 50% 50% 50% 50% / 12% 12% 88% 88%;
    height: 25px;
    position: relative;
    width: 25px;

    &:checked {
      background: $red;

      &::before {
        color: $white;
        left: 6px;
      }
    }

    &::before {
      color: $white;
      font-size: 14px;
      left: 7px;
      position: absolute;
      top: 2px;
    }

    &.special-box {
      &::before {
        content: "S";
      }
    }

    &.heavy-box {
      &::before {
        content: "H";
      }
    }

    &.armor-box {
      &::before {
        content: "A";
      }
    }
  }
}

#harm {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  z-index: 2;

  label {
    text-align: center;
    text-transform: uppercase;
    width: 100%;
  }

  .harm-row:first-of-type {
    border-top: 2px solid $white;
  }

  .harm-row {
    border-bottom: 2px solid $white;
    border-left: 2px solid $white;
    color: $white;
    display: flex;
    flex-direction: row;
    font-family: "Zilla slab";
    height: 100%;
    justify-content: space-between;
    width: 100%;

    &.disabled {
      background: $darkgray;
      color: rgb(255 255 255 / 20%);

      .effect {
        background: $darkgray;
        color: rgb(255 255 255 / 20%);
      }
    }

    .number,
    .effect {
      align-items: center;
      color: $white;
      display: flex;
      justify-content: center;
      padding: 0 4px;
      text-align: center;
    }

    .number {
      background: $white;
      color: $black;
      flex: 1;
      min-width: 10px;
    }

    .effect {
      background: $red;
      border-right: 2px solid $white;
      flex: 3;
      min-height: 30px;
      min-width: 75px;
      padding-bottom: 1px;
      padding-top: 1px;
    }

    .harm-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 100%;
    }

    .harm {
      align-items: center;
      display: flex;
      font-family: "Bradley Hand", cursive;
      font-size: 20px;
      justify-content: space-around;
      text-align: center;

      &:first-child {
        margin-right: 5px;
        position: relative;

        &::after {
          color: $white;
          content: ",";
        }
      }

      &.disabled {
        color: $faded;

        &::after {
          color: $faded;
        }
      }
    }
  }
}

#traumas {
  background-color: $red;
  display: flex;
  justify-content: space-around;
  padding: 0 2px;
  padding-top: 3px;
  width: calc(100% - 4px);

  .trauma {
    color: $white;
    font-family: "squada one";
    font-size: 20px;
    text-transform: uppercase;
  }
}

#stats {
  align-items: end;
  height: 100%;
  text-align: center;
  label {
    text-transform: uppercase;
  }

  .stats-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .upper {
    border-bottom: 2px solid $white;
    border-right: 2px solid $white;
    position: relative;
    z-index: 2;

    @extend .upper;
  }

  .label-container {
    display: flex;
    position: relative;
    width: 100%;
    z-index: 1;

    label {
      color: $white;
      display: block;
      font-size: 20px;
      padding: 3px 0 0 3px;
      position: relative;
      text-align: left;
      text-transform: uppercase;
      width: calc(100% - 10px);
    }

    @include for-desktop-up {
      border-left: 2px solid white;
      max-height: 26px;
      overflow-y: visible;
    }
  }

  .stat-block-container {
    display: flex;
    flex: 4;
    flex-flow: column wrap;
    padding-left: 8px;

    &:first-child {
      padding-left: 0;
    }

    .upper {
      display: flex;
      flex-wrap: wrap;

      .stat {
        align-items: center;
        display: flex;
        justify-content: space-between;
        width: 100%;

        &:last-child {
          margin-bottom: 0;
        }

        label {
          display: block;
          flex: 1;
          font-family: "Zilla Slab";
          padding: 0 7px 0 5px;
          text-align: right;
          text-transform: uppercase;
        }

        .spacer {
          background-color: $lightgray;
          flex-grow: 1;
          height: 2px;
          width: 100%;
        }

        .stat-number {
          display: flex;

          .stat-cell {
            height: 17px;
            padding: 5px;
            position: relative;
            width: 17px;

            &:first-child {
              border-right: 2px solid $faded;
              display: block;
              margin: 0;
              position: relative;
            }

            &::before {
              background-color: $gray;
              border-radius: 20px;
              content: "";
              height: 12px;
              left: 30%;
              position: absolute;
              top: 30%;
              width: 12px;
            }

            &.acquired {
              display: block;

              &::before {
                background-color: $red;
              }
            }
          }
        }
      }
    }
  }

  @include for-desktop-up {
    justify-content: end;
  }
}

#stress {
  @include xp-row($red, "Stress");
}

#healing-clock {
  @include xp-row($red, "Healing");
}

.xp-row {
  @include xp-row($red, "XP");
}

.row {
  background-color: $lightgray;
  color: rgb(43 44 49);
  display: flex;
  flex: 4;
  flex-direction: column;
  padding: 10px;

  &.initial {
    background-color: $darkgray;
    color: $white;
    flex: 2;

    .cell {
      height: 100%;
      justify-content: space-between;
      margin-top: 0;
      margin-bottom: 0;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }

    @include for-desktop-up {
      max-height: 150px;
    }
  }

  &:not(.initial) {
    padding: 5px;
    width: calc(100% - 10px);
    @include for-desktop-up {
      padding: 15px 0;
      width: 100%;
    }
  }

  .cell {
    display: flex;
    flex-direction: column;
    height: 100%;

    @include for-desktop-up {
      margin-left: 2.5px;
      margin-right: 2.5px;
    }
  }

  @include for-desktop-up {
    flex-direction: row;
    padding: 0;
    width: 100%;
  }
}

.player-character-container {
  display: flex;
  flex-flow: column;
  height: 100%;
  margin: 0 20px;
  padding-top: 10px;
  width: 100%;

  h1 {
    font-size: 69px; // Nice
  }
}

#bio {
  align-items: center;
  text-align: center;

  h2 {
    border-bottom: 2px solid $white;
    font-family: "Zilla Slab";
    text-align: center;
    width: 100%;

    @include for-desktop-up {
      font-size: 1.3vw;
      width: auto;
    }
  }

  label {
    background: $gray;
    color: $darkgray;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    border-bottom: 2px solid $black;
  }

  .upper {
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
  }

  @include for-desktop-up {
    align-items: flex-start;
    justify-content: end;
    text-align: left;
    width: auto;
  }
}

#damageables {
  position: relative;

  .lower {
    display: flex;
    justify-content: space-between;

    @include for-desktop-up {
      max-height: 26px;
      overflow-y: visible;
    }
  }
}

#bio-info {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#crew {
  p {
    text-align: center;
  }
}

label.full-width-label {
  background-color: $darkgray;
  color: $white;
  display: block;
  font-family: "squada one";
  padding-bottom: 5px;
  padding-left: 10px;
  padding-top: 5px;
  position: relative;
  text-align: left;
  text-transform: uppercase;
  width: calc(100% - 10px);

  &.inverted {
    background: #b7b7b7;
    color: rgb(43 44 49);
  }
}
