.player-character {
  height: 100%;
  display: flex;
  flex-direction: row;
  width: 100%;

  #details,
  #stats,
  #playbook {
    flex: 1;
    width: 30%;
    overflow: hidden;
  }

  .playbook-row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  .checkbox {
    min-height: 30px;
    min-width: 30px;
    border: 1px solid black;
    font-size: large;
    background-color: white;
    cursor: pointer;
  }

  .input {
    flex: 1;
    background-color: transparent;
    padding: 2px;

    .field {
      border: 0;
      width: 99%;
      border-bottom: 1px solid black;
    }
    .lower {
      display: flex;
      justify-content: space-between;
      width: 100%;

      .label {
        max-width: 49%;
      }
      .inner-select {
        cursor: pointer;
        max-width: 49%;
        margin-right: 0px;
      }
    }
  }

  .active {
    background-color: #f4c7c2;
  }

  .stress-container,
  .trauma-container,
  .harm-container,
  .armor-and-healing-container {
    label {
      font-family: "squada one";
      display: block;
      text-transform: uppercase;
      width: 100%;
      background-color: black;
      color: white;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 10px;
    }
  }

  .harm-container {
    flex: 5;

    .harm-row {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      height: 60px;

      div:first-child,
      div:last-child {
        display: flex;
        height: 59px;
        border-bottom: 1px solid black;
        border-left: 1px solid black;
        background: #d9d9d9;
        justify-content: center;
        align-items: center;
      }

      div:first-child {
        width: 30px;
      }

      div:last-child {
        width: 60px;
        max-width: 60px;
        text-align: center;
        border-right: 1px solid black;
      }

      input[type="text"] {
        height: 55px;
        width: 99%;
        border-bottom: 1px solid black;
        border-left: 1px solid black;
        text-align: center;
      }
    }
  }

  .armor-and-healing-container {
    flex: 2;
    border-bottom: 1px solid black;

    .healing-container {
      display: flex;
      align-items: center;
      text-align: center;
      font-style: italic;
      flex-direction: row;

      .healing-clock {
        display: grid;
        grid-template-columns: auto auto;
        grid-row: auto auto;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
      }
    }

    .armor-container {
      height: 119px;
      .armor-row {
        justify-content: space-between;
        width: 100%;
        display: flex;
        align-items: center;
        text-align: center;
        padding-bottom: 1.3px;

        div:first-child {
          padding-left: 5px;
        }
      }
    }
  }

  .stress-row {
    width: 100%;
    justify-content: flex-start;

    .stress-container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      .stress-boxes {
        display: flex;
        flex-direction: row;
        height: 50px;

        .stress-box {
          height: 100%;
        }
      }
    }

    .trauma-container {
      width: 100%;
    }

    .trauma-container {
      .trauma-boxes {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row: auto auto;
        grid-column-gap: 0px;
        grid-row-gap: 0px;

        form {
          padding: 0px;
        }

        .trauma-box {
          height: 25px;
          width: 100%;
        }
      }
    }
  }
}
