.player-character-container {
  height: 100%;
  display: flex;
  width: 100%;
  margin: 0px 20px;
  padding-top: 10px;
  flex-flow: column;

  .row {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: $bg-lightgray;
    color: rgb(43, 44, 49);
    flex: 4;
    padding: 10px 10px;

    &.initial {
      background-color: $bg-darkgray;
      color: $white;
      flex:2;
    }

    @include for-desktop-up {
      flex-direction: row;
      width: 100%;
      padding: 0;
    }
  }

  h1 {
    font-size: 69px; // Nice
    padding-right: 10px;
  }
  span {
    font-family: Zilla Slab;
    font-size: 14px;
  }


  .xp-row, .stress-row {
    .xp, .stress {
      &::after {
        content: '';
        position: absolute;
        left: 12px;
        width: 5px;
        height: 30px;
        top: 0;
      }
    }
  }
  @mixin cell {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 10px;

    &:first-child {
      padding-left: 0;
    }
  }

  .upper {
    flex: 4;
    display: flex;
    align-items: end;
    height: 100%;
    width: 100%;
  }

  .lower {
    flex: 1;
    height: 100%;
    width: 100%;
    align-items: end;
  }

  #bio {
    @include cell;
    order: 1;
    text-align: center;
    align-items: center;

    .upper {
      justify-content: center;
    }

    .lower {
    }


    @include for-desktop-up {
    justify-content: end;
      align-items: end;
      width: auto;
      text-align: left;
      align-items:flex-start;

      .lower {
        display: flex;
        justify-content: space-between;

        span:last-child {
          padding-right: 20px;
        }
      }
    }
  }

  #stats {
    @include cell;
    order: 3;
    flex: 3;
    align-items: end;
    flex-direction: row;
    text-align: center;
    justify-content: center;

    @include for-desktop-up {
      justify-content: end;
    }

    .upper {
      border-right: 2px solid white;
    }

    .label-container {
      width: 100%;
      position: relative;
      display: flex;

      @include for-desktop-up {
        max-height: 26px;
        overflow-y: visible;
        border-top: 2px solid white;
        border-left: 2px solid white
      }

      label {
        text-align: left;
        display: block;
        text-transform: uppercase;
        width: calc(100% - 10px);
        color: $white;
        padding: 3px 0 0 3px;
        position: relative;
        font-size: 20px;
      }
    }

    .stat-block-container {
      flex: 3.5;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      padding-left: 10px;

      .upper {
        display: flex;
        flex-wrap: wrap;

        .stat {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;

          &:last-child {
            margin-bottom: 0px;
          }

          label {
            font-family: Zilla Slab;
            display: block;
            text-align: right;
            flex: 1;
            text-transform:uppercase;
            padding: 0px 7px 0px 5px;
          }

          .spacer {
            width: 100%;
            height: 2px;
          margin-left: 10px;
            background-color: $bg-lightgray;
            flex-grow: 1;
          }

          .stat-number {
            display: flex;

            .stat-cell {
              height: 17px;
              width: 17px;
              padding:5px;
              position: relative;
              display: none;

              &:first-child {
                margin: 0;
                display: block;
                border-right: 2px solid rgba(255,255,255,0.3);
                position:relative;
              }

              &.acquired {
                display: block;

                &::before {
                  content: "";
                  position: absolute;
                  height: 10px;
                  width: 10px;
                  background-color: white;
                  left: 30%;
                  top: 30%;
                  border-radius: 20px
                }
              }
            }
          }
        }
      }

      .xp-row {
        display: flex;
        flex-direction: row;
        padding-right: 10px;
        overflow: visible;
        padding-top: 14px;

        @include for-desktop-up {
        }

        &:before {
          content: "XP";
          border: 0;
          font-family: "squada one";
          text-transform: uppercase;
          font-size: 14px;
          color: $white;
          margin-top: -5px;
        }
      }
    }
  }

  #stress {
    @include cell;
    order: 2;
    flex: 2;
    position: relative;

    .upper {
      flex-direction: column;

      &::before{
        content: "HARM";
        position: absolute;
        color: $white;
        left: 7px;
        top: -17px;

      }

      .harm-row {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-family: Zilla slab;
        color: $white;
        border-bottom: 3px solid $white;
        border-left: 3px solid $white;

        &:first-child {
          border-top: 3px solid $white;

          div:last-child {
            border-top: none;
          }
        }

        &.disabled {
          background: $bg-darkgray;

          div:last-child, {
            background: $bg-darkgray;
            color: rgba(255, 255, 255, 0.2);
          }
        }


        div:first-child,
        div:last-child {
          display: flex;
          color: $white;
          justify-content: center;
          align-items: center;
          text-align: center;
          padding: 0 4px;
        }

        div:first-child {
          background: $white;
          color: $bg-black;
          order: 2;
          min-width: 10px;
        }

        div:last-child {
          min-width: 75px;
          order: 3;
          border-right: 3px solid $white;
          background: red;
        }

        .harm {
          font-family: Bradley Hand, cursive;
          order: 1;
          text-align: center;
          align-items: center;
          width: 100%;
          display: flex;
          justify-content: space-around;
        }

      }
    }

    .lower {
      @include for-desktop-up {
        max-height: 26px;
        overflow-y: visible;
      }

      .stress-row {
        display: flex;

        @include for-desktop-up {
          padding-top: 14px;
        }

        &:before {
          content: "Stress";
          border: 0;
          font-family: "squada one";
          text-transform: uppercase;
          font-size: 17px;
          color: $white;
          margin-top: -5px;
        }
      }
    }
  }

  #healing {
    flex: 1;
    order: 4;
  }

  #harm {
    flex: 2;
  }

  #armor {
    flex: 1;
  }

  #bio-info {
    display: flex;
    flex-direction: column;
    text-align: center;

    .bio {
      width: 100%
    }
  }
}

label.full-width-label {
    font-family: "squada one";
    text-align: left;
    display: block;
    text-transform: uppercase;
    width: calc(100% - 10px);
    background-color: $bg-black;
    color: $white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    position: relative;

    &.inverted {
      color: rgb(43, 44, 49);
      background: #b7b7b7;
    }
  }
