.custom-checkbox-container {
  $xp-width: 14px;

  .custom-checkbox {
    appearance: none;
    cursor: pointer;
    display: grid;
    font: inherit;
    height: 26px;
    margin: 0;
    place-content: center;
    width: 26px;

    &:not(:checked) {
      background: $gray;
    }

    &:checked {
      background: $red;
    }

    &::before {
      content: "";
    }

    &:disabled {
      cursor: not-allowed;
    }
  }

  .xp {
    border-top: 0;
    border: 2px solid $black;
    margin-left: 5px;
    overflow: visible;
    position: relative;
    width: 14px;
    z-index: 1;

    &::after {
      content: "";
      height: 30px;
      left: 12px;
      position: absolute;
      top: 0;
      width: 5px;
    }

    &::before {
      background: inherit;
      border: 2px solid $black;
      border-top: 0;
      bottom: 0;
      content: "";
      height: 100%;
      left: -2px;
      margin-top: 5px;
      position: absolute;
      top: 0;
      transform: skewY(335deg);
      width: 14px - 4px;
      z-index: -1;
    }

    &:not(:checked) {
      &::before {
        background-color: $gray;
      }
    }

    &:checked {
      &::before {
        background-color: $red;
      }
    }
  }
}

.custom-checkbox-container:has(
    ~ .custom-checkbox-container .custom-checkbox:checked
  ) {
  .xp:not(:checked) {
    background-color: $red;

    &::before {
      background-color: $red;
    }
  }
}

.custom-checkbox-container:has(
    ~ .custom-checkbox-container .custom-checkbox:checked
  ) {
  .xp:not(:checked) {
    background-color: $red;

    &::before {
      background-color: $red;
    }
  }
}

.custom-checkbox-container:hover,
.custom-checkbox-container:hover ~ * {
  .xp:checked {
    background-color: $gray;

    &::before {
      background-color: $gray;
    }
  }
}

.custom-checkbox-container .custom-checkbox:not(:checked),
.custom-checkbox-container .custom-checkbox:not(:checked) ~ * {
  .xp:checked {
    background-color: $lightgray;

    &::before {
      background-color: $lightgray;
    }
  }
}

.xp:checked {
  background-color: $red;

  &::before {
    background-color: $red;
  }
}

.custom-checkbox-container:hover,
.custom-checkbox-container:has(~ :hover) {
  .xp:not(:checked) {
    background-color: lighten($red, 25%);

    &::before {
      background-color: lighten($red, 25%);
    }
  }
}
