

.custom-checkbox-container:hover, .custom-checkbox-container:has(~ :hover)  {
  .xp:not(:checked) {
      background-color: lighten(gray, 25%);

    &::before {
      background-color: lighten(gray, 25%);
    }
  }

  .stress:not(:checked) {
      background-color: lighten(red, 25%);

    &::before {
      background-color: lighten(red, 25%);
    }
  }
}

.custom-checkbox-container:hover, .custom-checkbox-container:hover ~ * {
  .xp:checked, .stress:checked{
      background-color: $bg-lightgray;

    &::before {
      background-color: $bg-lightgray;
    }
  }
}

.custom-checkbox-container {
  font-family: system-ui, sans-serif;
  font-size: 2rem;
  font-weight: bold;
  display: grid;

  &--disabled {
    color:$bg-darkgray;
    cursor: not-allowed;
  }

  .custom-checkbox {
    cursor: pointer;
    appearance: none;
    margin: 0;
    font: inherit;
    color: currentcolor;
    width: 25px;
    height: 26px;
    border: 0.05em solid currentcolor;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;


    &::before {
      content: "";
    }

    &:disabled {
      cursor: not-allowed;
    }
  }

  .x-box {
    &::before {
      width: 0.25em;
      height: 0.25em;
      transform: scale(0);
      transform-origin: center ;
      transition: 120ms transform ease-in-out;
      clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
    }

    &:checked::before {
      transform: scale(1);
    }

    &:disabled {
      color: $bg-darkgray;
    }
  }


  $xp-width: 14px;

  .xp, .stress {
    width: $xp-width;
    border: 2px solid $bg-black;
    position: relative;
    overflow: visible;
    z-index: 1;
    margin-left: 5px;

    &::before {
      content: '';
      width: $xp-width - 4px;
      left: -2px;
      height: 100%;
      position: absolute;
      background: inherit;
      border: 2px solid $bg-black;
      border-top: 0;
      margin-top: 5px;
      z-index: -1;
      top: 0;
      bottom: 0;
      transform-origin: right top;
      transform: skewY(335deg);
    }

    &:not(:checked) {
      background-color: $bg-lightgray;

      &::before {
        background-color: $bg-lightgray;
      }
    }

    &:checked {
      background-color: gray;

      &::before {
        background-color: gray;
      }
    }

  }

  .stress {
    &:checked {
        background-color: red;

      &::before {
        background-color: red;
      }
    }
  }
}

.custom-input-container {
  flex: 1;
  background-color: transparent;
  padding: 2px;

  .custom-field {
    border: 0;
    width: 99%;
    border-bottom: 1px solid rgb(43 44 49);
  }

  .lower {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .custom-label {
      max-width: 49%;
    }

    .custom-select {
      cursor: pointer;
      max-width: 49%;
      margin-right: 0;
    }
  }
}
