// Entry point for your Sass build

@import "colors";
@import "mixins";
@import "fonts";
@import "globals";
@import "shared";

@import "header";
@import "content";
@import "footer";

@import "games";
@import "dashboard";
@import "player_character";
